# 忽略文件
.vscode/
CH554.*
Debug.*
GPIO.*
Keyboard.*
Keyboard
main.*
Target 1.*
timer.*
USBHostHUB_KM
USBHostHUB_KM.*
main/*.lst
*.o
*.obj
*.exe
*.bin
*.map
*.bak
*.dep
*.uvopt
*.uvgui.*
*.iex
*.lnp
*.SBR
*.out
*-workspace
*.json
*-format
*.__i
/.eide
/test

# 不忽略文件
!*.h
!*.c
!*.hex
!*.uvproj
!README.md